* {
    box-sizing: border-box;
}

.field {
    width: 290px;
    margin: 100px auto;
    padding: 15px;
    background: #ddd;
    border-radius: 10px;
}
.field button {
    width: 55px;
    height: 35px;
    margin: 5px 5px 5px 5px;
    outline: none;
    border-radius: 5px;
    background: #eee;
    border: 1px outset #aaa;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.field button:first-of-type+button {
    margin-right: 75px;
}
.field button:hover {
    background: lightblue;    
}
.field button:active {
    border: 1px inset #ccc;
}
.field h2 {
    height: 40px;
    background: #eee;
    padding: 5px;
    margin: 30px 5px;
    text-align: right;
    border: 1px inset #ccc;
    overflow: hidden;
}

